Python ships with a module that contains a number of container data types called Collections. Some of them are: 
- defaultdict
- OrderedDict
- Counter
- deque
- namedtuple
- enum.Enum(Outside of the module )

# defaultdict

In [1]:
from collections import defaultdict

In [2]:
colors = (
        ('Yasoob', 'Yellow'), 
    ('Ali', 'Blue'),
    ('Arham', 'Green'),
    ('Ali', 'Black'),
    ('Yasoob', 'Red'),
    ('Ahmed', 'Silver'),
)

In [6]:
favourite_colors = defaultdict(list)

In [7]:
for name , color in colors: 
    favourite_colors[name].append(color)
print(favourite_colors)

defaultdict(<class 'list'>, {'Yasoob': ['Yellow', 'Red'], 'Ali': ['Blue', 'Black'], 'Arham': ['Green'], 'Ahmed': ['Silver']})

In [8]:
some_dict = {} 
some_dict['colours']['favourite'] = 'yellow'
# raises KeyError : 'colours'

KeyError: 'colours'

In [9]:
# possible solution to this 
from collections import OrderedDict 
colours = OrderedDict([("Red", 198), ("Green", 170), ("Blue", 160)])
for key, value in colours.items(): 
    print(key, value)

Red 198
Green 170
Blue 160

In [10]:
# Insertion Order is preserved

# Counter 
Helps to count the occurances of the particular item. For instance it can be used to count the number of individual favourite colours.

In [11]:
from collections import Counter

In [12]:
colours = (
    ('Yasoob', 'Yellow'),
    ('Ali', 'Blue'),
    ('Arham', 'Green'),
    ('Ali', 'Black'),
    ('Yasoob', 'Red'),
    ('Ahmed', 'Silver'),
)

In [13]:
favs = Counter( name for name, colour in colours) 
print(favs)

Counter({'Yasoob': 2, 'Ali': 2, 'Arham': 1, 'Ahmed': 1})

# Deque 
deque provided you with a double ended queue which means that you can append and delete elements form either side of the queue. First of all you have to import the deque module from the collections library.

In [14]:
from collections import deque

In [15]:
# instantiating the deque object

In [16]:
d = deque()

In [17]:
# it works like the python and provides you with somewhat similar methods as well , for examle 
d.append('1')
d.append('2')
d.append('3')
print(len(d))

3

In [18]:
print(d[0])

1

In [19]:
print(d[-1])

3

In [25]:
dn = deque(range(5)) 
print(len(dn))

5

In [26]:
dn.popleft()

0

In [27]:
dn.pop()

4

In [28]:
print(dn)

deque([1, 2, 3])

In [29]:
# also limit the amount of the item a deque can hold , once it has achieved the max item then it pops out the items from the opposite end

In [30]:
d = deque([0,1,2,3,4,5], maxlen = 5)
print(d)

deque([1, 2, 3, 4, 5], maxlen=5)

In [32]:
d.extend([6]) # okay we need iterators here  -> The argument to the extend must be an iterator 
print(d)

deque([2, 3, 4, 5, 6], maxlen=5)

In [34]:
d = deque([1,2,3,4,5]) 
d.extendleft([0])
print(d)

deque([0, 1, 2, 3, 4, 5])

In [36]:
d.extend([6,7,8])

In [37]:
print(d)

deque([0, 1, 2, 3, 4, 5, 6, 7, 8])

# namedTuple

In [39]:
tup = ("hari" , 30)

In [40]:
print(tup[0])

hari

Well, so now what are namedtuples? They turn tuples into convenient containers for simple tasks. With namedtuples you don’t have to use integer indexes for accessing members of a tuple. You can think of namedtuples like dictionaries but unlike dictionaries they are immutable.

In [41]:
from collections import namedtuple

Animal = namedtuple('Animal', 'name age type')
perry = Animal(name="perry", age=31, type="cat")

print(perry)
# Output: Animal(name='perry', age=31, type='cat')

print(perry.name)
# Output: 'perry'

Animal(name='perry', age=31, type='cat')
perry

You can now see that we can access members of a tuple just by their name using a .. Let’s dissect it a little more. A named tuple has two required arguments. They are the tuple name and the tuple field_names. In the above example our tuple name was ‘Animal’ and the tuple field_names were ‘name’, ‘age’ and ‘type’. Namedtuple makes your tuples self-document. You can easily understand what is going on by having a quick glance at your code. And as you are not bound to use integer indexes to access members of a tuple, it makes it more easy to maintain your code. Moreover, as `namedtuple` instances do not have per-instance dictionaries, they are lightweight and require no more memory than regular tuples. This makes them faster than dictionaries. However, do remember that as with tuples, attributes in namedtuples are immutable. It means that this would not work:

In [43]:
from collections import namedtuple

In [44]:
Animal = namedtuple("Animal","name age type") # for the first argument tuple name and the second argument tuple field_names
perry = Animal(name = 'perry', age = 31 , type= 'cat')

In [45]:
perry.age= 42

AttributeError: can't set attribute

In [46]:
# also we can convert the namedtuple into the dictionary 
from collections import namedtuple

Animal = namedtuple('Animal', 'name age type')
perry = Animal(name="Perry", age=31, type="cat")
print(perry._asdict())

{'name': 'Perry', 'age': 31, 'type': 'cat'}

enum.Enum (Python 3.4+ )

In [47]:
# Enums are basicaly a way to organize various things.

Let’s consider the Animal namedtuple from the last example. It had a type field. The problem is, the type was a string. This poses some problems for us. What if the user types in Cat because they held the Shift key? Or CAT? Or kitten?

In [48]:
from collections import namedtuple 
from enum import Enum

In [49]:
class Species(Enum):
    cat = 1
    dog = 2
    horse = 3
    aardvark = 4
    butterfly = 5
    owl = 6
    platypus = 7
    dragon = 8
    unicorn = 9
    # The list goes on and on...

    # But we don't really care about age, so we can use an alias.
    kitten = 1
    puppy = 2

Animal = namedtuple('Animal', 'name age type')
perry = Animal(name="Perry", age=31, type=Species.cat)
drogon = Animal(name="Drogon", age=4, type=Species.dragon)
tom = Animal(name="Tom", age=75, type=Species.cat)
charlie = Animal(name="Charlie", age=2, type=Species.kitten)